---
import Bell from '@icons/bell.astro'
import Pip from '@icons/pip.astro'
import Settings from '@icons/settings.astro'

const features = [
  {
    icon: Pip,
    title: 'Auto-Open PiP on tab switch',
    description:
      'Switch tabs, and your video follows automatically. No clicks. No lag. Just smooth, uninterrupted playback.',
    position: 'left',
    url: './media/autopip.webm',
    poster: './media/autopip.webp',
  },
  {
    icon: Settings,
    title: 'Custumizable Shortcut',
    description: 'Use your own keyboard shortcut to trigger PiP. Skip the mouse hunt.',
    position: 'right',
    url: './media/shortcut.webm',
    poster: './media/shortcut.webp',
  },
  {
    icon: Bell,
    title: 'Notification Toasts',
    description: 'Subtle notifications let you know when PiP starts.',
    position: 'left',
    url: './media/popups.webm',
    poster: './media/popups.webp',
  },
]
---

<section id="features" class="container mx-auto flex flex-col items-center px-8">
  <div class="use-motion pb-16 text-center opacity-25">
    <h2 class="text-sm font-bold uppercase tracking-wider">Features</h2>
    <span class="text-3xl font-extrabold sm:text-4xl"> Seamless Video. Smarter Controls. </span>
    <p class="mx-auto pt-4 text-lg">
      PIPX improves Picture-in-Picture the way you wish browsers did by default.
    </p>
  </div>

  <div class="flex flex-col items-center gap-32 sm:gap-40">
    {
      features.map(feature => {
        const { icon: Icon, title, description, position, url, poster } = feature
        const isRight = position === 'right'

        return (
          <div
            class:list={[
              'use-motion flex w-full flex-col items-center gap-2 opacity-25 md:gap-6 lg:gap-12',
              isRight ? 'md:flex-row-reverse' : 'md:flex-row',
            ]}
          >
            <div
              class:list={[
                'flex flex-col justify-center py-4 text-left',
                isRight ? 'items-start' : 'md:items-end',
              ]}
            >
              <div class="items-start">
                <div class="border-3 aspect-square w-11 content-end justify-items-end rounded-lg p-0.5 text-[var(--lime)]">
                  <Icon class="w-6" />
                </div>
                <h3 class="pb-4 pt-2 text-3xl font-bold text-[var(--lime)]">{title}</h3>
                <p class="w-full max-w-[30ch] text-pretty text-xl">{description}</p>
              </div>
            </div>
            <div class="sm:w-2xl aspect-[16/9] w-full overflow-hidden rounded-lg bg-[var(--light-green)] shadow-2xl shadow-lime-800/50">
              <video
                autoplay
                muted
                loop
                preload="none"
                disablepictureinpicture
                playsinline
                poster={poster}
                class="h-[inherit] object-cover"
              >
                <source src={url} type="video/webm" />
              </video>
            </div>
          </div>
        )
      })
    }
  </div>
</section>
