---
import Button from '@components/ui/button.astro'
import Chrome from '@icons/chrome.astro'
import Feather from '@icons/feather.astro'
import Gift from '@icons/gift.astro'
import Happy from '@icons/happy.astro'
---

<section
  id="hero"
  class="max-w-screen container flex flex-col items-center justify-center gap-4 px-8 pt-48"
>
  <h1 class="font-VinaSans text-center text-5xl sm:text-7xl">
    Take Control of Picture-in-Picture.
  </h1>
  <p class="max-w-[45ch] text-center text-xl">
    never miss a moment.<br />built for multitaskers and binge-watchers.
  </p>
  <div class="flex flex-row flex-nowrap items-center gap-4 pt-8">
    <Button
      href="https://chromewebstore.google.com/detail/nkbikckldmljjiiajklecmgmajgapbfl"
      class="border-2 border-[var(--lime)]"
      isBlank
    >
      <Chrome
        class="hover:text-shadow-[0_0_1.5rem_hsla(0,0%,100%,.5)] aspect-square w-6 fill-current font-[var(--lime)]"
      />Get PIPX</Button
    >
    <Button
      variant="link"
      size="lg"
      class="hover:text-shadow-[0_0_2rem_var(--lime)]"
      href="https://github.com/phrechu/pipx"
      isBlank>Github</Button
    >
  </div>
  <div class="mx-4 mt-8 text-lime-100">
    <ul class="grid w-full max-w-max grid-cols-3 gap-6 text-center text-xs">
      <li class="flex flex-col items-center justify-center gap-1">
        <Gift class="w-5" /><span> Free &<br />open-source</span>
      </li>
      <li class="flex flex-col items-center justify-center gap-1">
        <Feather class="w-5" /><span>Tiny<br />footweight</span>
      </li>
      <li class="flex flex-col items-center justify-center gap-1">
        <Happy class="w-5" /><span>Easy<br />to use</span>
      </li>
    </ul>
  </div>
</section>
