<section id="thumbnail" class="use-motion container mx-auto flex justify-center px-8">
  <div
    class="sm:w-6xl aspect-[16/9] w-full overflow-hidden rounded-lg bg-[var(--light-green)] shadow-2xl shadow-lime-800/50"
  >
    <video
      id="video-thumbnail"
      autoplay
      muted
      loop
      preload="none"
      disablepictureinpicture
      playsinline
      class="w-full object-cover"><source src="./media/autopip.webm" type="video/webm" /></video
    >
  </div>
</section>
