# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dependencies
node_modules

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Netlify folder
.netlify

# build output
dist
.output
build

# generated types
.astro
.wxt
.turbo

# environment variables
.env
.env.*

# specific to wxt
stats.html
stats-*.json
web-ext.config.ts

# extra
todo