---
import { cn } from '@/lib/utils'
import Cheveron from '@icons/cheveron.astro'

interface Props {
  class?: string
  'aria-expanded'?: string
  'aria-controls'?: string
  disabled?: boolean
  isOpen?: boolean
}

const {
  class: className,
  'aria-expanded': ariaExpanded,
  'aria-controls': ariaControls,
  disabled,
  isOpen,
  ...attrs
} = Astro.props
---

<summary
  class:list={cn(
    'group-open:animate-accordion-down focus-visible:outline-offset-6 flex w-full cursor-pointer items-center justify-between px-4 py-5 text-left text-3xl font-bold transition hover:text-[var(--light-green)] focus:outline-none focus-visible:shadow-[unset] focus-visible:outline-dashed focus-visible:outline-2 focus-visible:outline-white',
    className
  )}
  {...attrs}
>
  <span class="flex-1"><slot /></span>
  <Cheveron
    class="ml-2 aspect-square w-4 transition-transform group-open:rotate-180"
    strokeWidth={4}
  />
</summary>
