---
import Button from '@components/ui/button.astro'
import Back from '@icons/back.astro'
import Layout from '../layouts/layout.astro'
---

<Layout>
  <div class="justify-cente container mx-auto mb-auto mt-36 flex flex-col items-center gap-32">
    <div class="text-center text-6xl font-bold">Page Not Found</div>
    <Button
      class="group flex max-w-fit flex-row flex-nowrap items-center justify-center uppercase"
      href="/"><Back class="w-8 group-hover:-translate-x-1" />go back</Button
    >
  </div>
</Layout>
