---
import Cta from '@components/sections/cta.astro'
import Faq from '@components/sections/faq.astro'
import Features from '@components/sections/features.astro'
import Hero from '@components/sections/hero.astro'
import Thumbnail from '@components/sections/Thumbnail.astro'
import Layout from '../layouts/layout.astro'
import '../styles/global.css'
---

<Layout>
  <main class="mx-auto -mt-24 flex flex-col items-center gap-40">
    <Hero />
    <Thumbnail />
    <Features />
    <Faq />
    <Cta />
  </main>
</Layout>
