---
import Head, { type Props as HeadProps } from '../components/Head.astro'
import Header from '../components/Header.astro'
import '../styles/global.css'
import Footer from '../components/Footer.astro'
import Noise from '@components/Noise.astro'

type Props = HeadProps

const { ...head } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <Head {...head} />
  </head>
  <body
    class="max-w-screen mx-auto flex flex-col items-center justify-center bg-[var(--dark)] font-sans text-[var(--off-white)] antialiased"
  >
    <Header />
    <slot />
    <Footer />
    <Noise />
    <script>
      // lenis
      import Lenis from 'lenis'
      import 'lenis/dist/lenis.css'

      let lenis: Lenis | null = null

      function initializeLenis(): void {
        if (lenis) {
          lenis.destroy()
        }

        lenis = new Lenis({
          autoRaf: true,
          anchors: {
            offset: -200,
          },
        })

        setupAnchors()
      }

      function setupAnchors(): void {
        document.querySelectorAll<HTMLAnchorElement>('a[href^="#"]').forEach(anchor => {
          anchor.addEventListener('click', (e: Event) => {
            e.preventDefault()
            const targetId = anchor.getAttribute('href')?.substring(1)

            if (targetId) {
              const targetElement = document.getElementById(targetId)

              if (targetElement && lenis) {
                lenis.scrollTo(targetElement, {
                  offset: -200,
                  duration: 1.2,
                })
              }
            }
          })
        })
      }

      function destroyLenis() {
        if (lenis) {
          lenis.destroy()
          lenis = null
        }
      }

      document.addEventListener('astro:page-load', initializeLenis)
      document.addEventListener('astro:before-preparation', destroyLenis)

      // motion
      import { animate, inView } from 'motion'

      function initializeMotion() {
        inView('.use-motion', element => {
          animate(
            element,
            { y: [25, 0] },
            {
              duration: 1.5,
              y: { duration: 1.2 },
              ease: 'easeIn',
            }
          )
        })
      }
      document.addEventListener('astro:page-load', () => {
        initializeMotion()
      })
    </script>
  </body>
</html>
